<!DOCTYPE html>
<html lang="en">

<head>
    <title>MaxPrime - Knative Demo App for GitOps using Cloud Build and Knative</title>
    <meta charset="UTF-8">
    <meta name="description" content="Knative Demo App for GitOps using Cloud Build and Knative">
    <meta name="keywords" content="google, git, build, golang, knative">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Pragma" content="-1">
    <link href="img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/lib.js"></script>
    <script src="js/app.js"></script>
</head>

<body>

    <div id="wrapper">

        <!-- Header -->
        <div id="page-header">
            <div id="page-header-image">
                <img src="img/knative-logo.png" />
            </div>
            <div id="page-header-title">
                Max Prime Calculator
            </div>
        </div>


        <!-- Primer -->
        <div id="prime">

            <form>
                <!-- Ceiling also set on the server -->
                <input id="calc-val-ceiling" type="hidden" value="{{ .ceiling }}">
                <input id="calc-val" type="text" value="{{ .max }}">
                <a href="#" id="calc-button">Calculate</a>
            </form>

            <div id="calc-result"> </div>

            <div>
                REST query:
                <a id="prime-link" href="/v1/prime/{{ .max }}">/v1/prime/{{ .max }}</a>
            </div>

        </div>


        <!-- Footer -->
        <div id="page-footer">
            <p>
                Tag:
                <a href="https://github.com/mchmarny/maxprime/tree/{{ .release }}">{{ .release }}</a>
            </p>
            <p>
                <a href="https://github.com/mchmarny/maxprime">MaxPrime</a> |
                <a href="https://github.com/knative/">Knative</a>
            </p>
        </div>


    </div>
</body>

</html>